section.product-header 
    .product-header-container.container 
        .product-header-top
            nav.product-header-nav
                button.product-header-nav_buttonBack
                ul.product-header-nav-list 
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Главная
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Электроника
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Смартфоны
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Xiaomi
            button.product-header_share
                span.product-header_share__text
                span.product-header_share__icon
            