section.product-header 
    .product-header-container.container 
        .product-header-top
            nav.product-header-nav
                button.product-header-nav_buttonBack
                ul.product-header-nav-list 
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Главная
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Электроника
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Смартфоны
                    li.product-header-nav-list_element
                        a.product-header-nav_link.link(href="#") Xiaomi
            button.product-header_share
                span.product-header_share__text
                span.product-header_share__icon
        .product-header-bottom 
            h1.product_name
                | Xiaomi / Смартфон Redmi 9A: 6.53" 1600x720/IPS MediaTek Helio G25 2GB/32GB 13Мп/5Мп 5000 mAh
                span.product_event Рассрочка до 0-0-12
            a.product-estimation.estimation(href="#")
                .product-estimation-stars.estimation-stars.star-4
                    span 
                    span 
                    span 
                    span 
                    span 
                span.product-estimation_count 667 отзывов