section.product-about
    .product-about-container.container 
        h2.product-about_title О товаре
        .product-about-content 
            .product-characteristics
                for i in [1, 1, 1, 1, 1]
                    table.product-characteristics-table 
                        tr 
                            th.product-characteristics_title Связь
                        tr 
                            td.product-characteristics_characteristic
                                span Беспроводные интерфейсы
                            td.product-characteristics_params Bluetooth; NFC; Wi-Fi; ИК-Порт; GPS
                        tr 
                            td.product-characteristics_characteristic
                                span Спутниковая навигация
                            td.product-characteristics_params A-GPS; ГЛОНАСС; GPS
                        tr 
                            td.product-characteristics_characteristic
                                span Количество SIM карт
                            td.product-characteristics_params 2
            .product-description
                h3.product-description_title Описание
                p.product-description_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusantium impedit amet possimus sequi dolorum! Consequatur, numquam quis, voluptas dolore repellendus vel enim doloribus dicta natus sit explicabo ipsam cum. Dignissimos, veniam? Repudiandae voluptate nam amet reprehenderit beatae cumque ex ipsum omnis asperiores vero, minus possimus eaque autem itaque perspiciatis natus sint architecto facere officia vel velit nesciunt similique impedit. Dolorum saepe pariatur nulla, vel sed eveniet tempora. Totam eius adipisci quae quisquam explicabo ad officiis aliquid illo beatae illum sapiente veniam assumenda est rerum recusandae, excepturi labore asperiores ex, iusto animi culpa molestiae iure. Facilis optio impedit provident nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod libero soluta architecto dolorum illo tenetur explicabo nemo provident ea, beatae, id ab quibusdam. Corrupti incidunt molestias totam nisi repellat quo ullam natus possimus reiciendis eligendi modi accusantium asperiores in, pariatur eveniet soluta quis mollitia odit iste distinctio, dolorum beatae nihil.