section.articles 
    .articles-container 
        .article 
            .article-main
                .article_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
                .article-footer
                    time.article_date(datetime="21.06.2020") 21.06.2020
        .article 
            .article_bg__wrapper 
                img.article_bg(src="@images/article.png", alt="Как писать код и быстро и без болезненно?")
            .article-main 
                h3.article_title Как писать код быстро и безболезненно?
                .article_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
                .article-footer
                    time.article_date(datetime="21.06.2020") 21.06.2020
                    ul.article-tags
                        li.article_tag.red(title="Создание сайтов") Создание сайтов
                        li.article_tag.green(title="Флексим") Флексим
                        li.article_tag.indigo(title="Индиго цвет") Индиго цвет
                    a.link.article_link(href="article.html") Читать
        .article 
            .article_video__wrapper 
                iframe.article_video(src="https://www.youtube.com/embed/62gmXnRJlP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen)
            .article-main 
                h3.article_title Как писать код быстро и безболезненно?
                .article_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
                .article-footer
                    time.article_date(datetime="21.06.2020") 21.06.2020
                    ul.article-tags
                        li.article_tag.red(title="Создание сайтов") Создание сайтов
                        li.article_tag.green(title="Флексим") Флексим
                        li.article_tag.indigo(title="Индиго цвет") Индиго цвет
                    a.link.article_link(href="article.html") Читать
        .article 
            .article_bg__wrapper 
                img.article_bg(src="@images/article2.png", alt="Как я сходил на FrontEnd Conf 2021")
            .article-main 
                h3.article_title Как я сходил на FrontEnd Conf 2021
                .article_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
                .article-footer
                    time.article_date(datetime="21.06.2020") 21.06.2020
                    ul.article-tags
                        li.article_tag.blue(title="Создание сайтов") Создание сайтов
                        li.article_tag.purple(title="Фиолетовый") Фиолетовый
                        li.article_tag.pink(title="Розовый") Розовый
                        li.article_tag.orange(title="Оранжевый") Оранжевый
                    a.link.article_link(href="article.html") Читать