section.publisher 
    form.publisher-form(action="/")
        textarea.publisher-form_textarea(name="post-text", placeholder="Напишите что-нибудь")
        .publisher-form-actions 
            label.publisher-form_input__label.button(for="add-file")
                input.publisher-form_input#add-file(type="file")
            button.publisher-form_submit.button(type="submit")