section.stories
    .stories-container 
        ul.stories-list
            li.stories-list_element
                .stories-history
                    .stories-history_screen
                    img.stories-history_image(src="@images/stories/1.png", alt="Отдыхаю на природе")
                    h4.stories-history_title Отдыхаю на природе
                    time.stories-history_date(datetime="21.09.2020") 21.09.2020
            li.stories-list_element
                .stories-history
                    .stories-history_screen
                    img.stories-history_image(src="@images/stories/2.png", alt="Заканчиваю сложный проект")
                    h4.stories-history_title Заканчиваю сложный проект
                    time.stories-history_date(datetime="15.09.2020") 15.09.2020
            li.stories-list_element
                .stories-history
                    .stories-history_screen
                    img.stories-history_image(src="@images/stories/3.png", alt="Переехал в новую квартиру")
                    h4.stories-history_title Переехал в новую квартиру
                    time.stories-history_date(datetime="11.09.2020") 11.09.2020
            li.stories-list_element
                .stories-history
                    .stories-history_screen
                    img.stories-history_image(src="@images/stories/4.png", alt="Осень пришла!")
                    h4.stories-history_title Осень пришла!
                    time.stories-history_date(datetime="11.09.2020") 11.09.2020
