header.header
    .header-container.container
        .header_logo__wrapper 
            img.header_logo(src="@images/logo.svg", alt="MINIMAL", usemap="#link-home")
        
        nav.header-navigation
            button.header-navigation_button#navOpen
                span
            ul.header-navigation-list#navList
                li.header-navigation-list_element
                    a.header-navigation_link.link(href="#") Process
                li.header-navigation-list_element
                    a.header-navigation_link.link(href="#") Projects
                li.header-navigation-list_element
                    a.header-navigation_link.link(href="#") Team
                li.header-navigation-list_element
                    a.header-navigation_link.link(href="#") Contact