main.main
    include mainPartials/welcome
    include mainPartials/advantages
    include mainPartials/potential
    include mainPartials/projects
    include mainPartials/team
    include mainPartials/reviwes