article.article 
    .article-container
        .article-controls 
            a.article-controls_link.link(href="index.html") Вернуться назад
            button.article-controls_link.button.indigo Поделиться
        .article-header 
            h1.article_title Как писать код быстро и безболезненно?
            time.article_date(datetime="21.06.2020") 21.06.2020
            ul.article-tags 
                li.article_tag.red Создание сайтов
                li.article_tag.green Флексим
                li.article_tag.indigo Индиго цвет
        section.article-content 
            p.article-content_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, enim quasi dolorem commodi accusamus maxime debitis suscipit. Ipsam, velit vitae quos rem veniam sit quam impedit neque voluptas vel inventore nesciunt officia eum laborum deleniti! Nulla asperiores omnis voluptatibus? Est quibusdam dignissimos libero! Nam itaque quaerat quasi voluptatum natus, ullam animi repellendus dolore delectus ducimus inventore vero dolorum odio quia!
            .article-content_image__wrapper 
                img.article-content_image(src="@images/article.png")
            p.article-content_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, enim quasi dolorem commodi accusamus maxime debitis suscipit. Ipsam, velit vitae quos rem veniam sit quam impedit neque voluptas vel inventore nesciunt officia eum laborum deleniti! Nulla asperiores omnis voluptatibus? Est quibusdam dignissimos libero! Nam itaque quaerat quasi voluptatum natus, ullam animi repellendus dolore delectus ducimus inventore vero dolorum odio quia!
            p.article-content_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, enim quasi dolorem commodi accusamus maxime debitis suscipit. Ipsam, velit vitae quos rem veniam sit quam impedit neque voluptas vel inventore nesciunt officia eum laborum deleniti! Nulla asperiores omnis voluptatibus? Est quibusdam dignissimos libero! Nam itaque quaerat quasi voluptatum natus, ullam animi repellendus dolore delectus ducimus inventore vero dolorum odio quia!
        section.interes
            h3.interes_title Интересно почитать
            ul.interes-links 
                li.interes-links_element
                    button.interes_button
                        span.interes_button_title Как я сходил на FrontEnd Conf 2021
                        time.interes_button_date(datetime="21.06.2020") 21.06.2020
                li.interes-links_element
                    button.interes_button
                        span.interes_button_title Купил новый ноутбук за 120 000 руб
                        time.interes_button_date(datetime="21.06.2020") 21.06.2020
                li.interes-links_element
                    button.interes_button
                        span.interes_button_title Как писать код быстро и не офигевать
                        time.interes_button_date(datetime="21.06.2020") 21.06.2020
                li.interes-links_element
                    button.interes_button
                        span.interes_button_title Купил новый ноутбук за 150 000 руб
                        time.interes_button_date(datetime="21.06.2020") 21.06.2020
            