footer.footer
    .footer-container 
        ul.footer-navigateList 
            li.footer-navigateList_element
                a.link.footer_link.disable(href="#") <
            li.footer-navigateList_element
                a.link.footer_link.active(href="#") 1    
            li.footer-navigateList_element
                a.link.footer_link(href="#") 2
            li.footer-navigateList_element
                a.link.footer_link(href="#") 3
            li.footer-navigateList_element
                a.link.footer_link(href="#") >