header.header 
    .header-container
        nav.header-nav 
            ul.header-nav-list 
                li.header-nav-list_element
                    a.header-nav_link.link(href="index.html") Главная
                li.header-nav-list_element.has-subnav
                    a.header-nav_link.has-subnav_title.link(href="#") Статьи
                    ul.header-nav-sublist 
                        li.header-nav-sublist_element
                            a.header-nav_link.link(href="#") Создание сайтов 
                        li.header-nav-sublist_element
                            a.header-nav_link.link(href="#") Интернет маркетинг
                        li.header-nav-sublist_element
                            a.header-nav_link.link(href="#") Продвижение видео
                li.header-nav-list_element
                    a.header-nav_link.link(href="#") Обо мне
                li.header-nav-list_element
                    a.header-nav_link.link(href="#") Реклама
                li.header-nav-list-profile
                    ul 
                        li.header-nav-list_element.profile
                            a.header-nav_link.link(href="#") Профиль
                        li.header-nav-list_element.profile
                            a.header-nav_link.link(href="#") Выйти
        form.header-search(action="#")
            input.header-search_input(type="search", name="search", placeholder="Поиск по сайту") 