-
    const
        title    = 'Главная проекта',
        nameFile = 'index';

doctype html
html(lang="ru")
    include partials/head
    body 
        include partials/maps
        include partials/header
        include partials/sidebar
        main.main
        include partials/footer
        