body {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $TEXT_COLOR;
    background: $BG_COLOR;
}
body.sidebarActive {
    width: 100vw;
        height: 100vh;
        overflow: hidden;
}

@import '../vendors/frequentClasses';