.bigBanner {
    &-container {
        position: relative;
        padding-bottom: 4rem;
    }
    &_view {
        &__wrapper {
            position: relative;
            width: 100%; height: auto;
        }
        width: 100%; height: auto;
        object-fit: cover;
        border-radius: 2rem;
    }
    &-controls {
        position: absolute;
        padding: 0 3rem;
        top: calc(50% - 2.5rem); left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; height: 5rem;
    }
    &_control {
        position: relative;
        display: block;
        width: 5rem; height: 5rem;
        border-radius: 50%;
        background-color: rgba($WHITE, .8);
        &:hover {
            cursor: pointer;
            &::after {
                background-color: $PRIMARY;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 20%; 
            width: 60%; height: 60%;
            background-color: rgba($TEXT_COLOR, .6);
            // mask-size: 60%;
            mask-position: center;
            mask-repeat: no-repeat;
        }
        &--prev::after {
            left: 18%;
            mask-image: url("@images/arrow-prev.svg");
        }
        &--next::after {
            right: 18%;
            mask-image: url("@images/arrow-next.svg");
        }
    }
    &-pagination {
        position: absolute;
        bottom: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; height: 2rem;
        span {
            display: block;
            width: 1.5rem; height: 1.5rem;
            background-color: rgba($PRIMARY, .4);
            border-radius: 50%;
            &:not(:first-child) {
                margin-left: 1rem;
            }
            &:not(:nth-child(3)) {
                width: 1rem; height: 1rem;
            }
            &:nth-child(3) {
                background-color: $PRIMARY;
            }
        }
    }
}