section.bigBanner 
    .bigBanner-container.container 
        .bigBanner_view__wrapper    
            img.bigBanner_view(src="@images/bigBanner.jpg" alt="BigBanner")
            .bigBanner-controls 
                button.bigBanner_control.bigBanner_control--prev
                button.bigBanner_control.bigBanner_control--next
        .bigBanner-pagination
            span 
            span 
            span 
            span 
            span 