footer.footer
    .footer-container.container
        .footer-buyers
            h3.footer_title Покупателям
            ul.footer-buyers-list 
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Как сделать заказ
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Способы оплаты
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Доставка
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Возврат товара
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Возврат денежных средств
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Правила продажи
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Правила пользования торговой площадкой
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Вопросы и ответы
        .footer-partners
            h3.footer_title Партнёрам
            ul.footer-partners-list 
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Продавайте на Wildberries
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Перевозчикам
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Партнерский пункт выдачи
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Франшизный пункт выдачи
        .footer-partners
            h3.footer_title Компания
            ul.footer-partners-list 
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") О нас
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Реквизиты
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Пресс-центр
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Контакты
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Bug Bounty
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") WB.Tech
        .footer-partners
            h3.footer_title Мы в соцсетях
            ul.footer-partners-list 
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Вконтакте
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Одноклассники
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") YouTube
                li.footer-buyers-list_element
                    a.footer_link.link(href="#") Телеграм