header.header
    .header-container.container
        nav.header-nav 
            ul.header-nav-elements 
                li.header-nav_element
                    button.header_burger
                        span
                    .header_logo__wrapper 
                        img.header_logo(src="@images/logo.svg", alt="Wildberries", usemap="#link-home")
                li.header-nav_element 
                    form.header-form(action="/")
                        input.header-form_input(type="text", placeholder="Я ищу...")
                        button.header-form_search
                        ul.header-form-searchList
                            li.header-form-searchList_element 
                                a.header-form-searchList_link.link(href="#") Телефон
                            li.header-form-searchList_element 
                                a.header-form-searchList_link.link(href="#") Футболка
                            li.header-form-searchList_element 
                                a.header-form-searchList_link.link(href="#") Панама
                            li.header-form-searchList_element 
                                a.header-form-searchList_link.link(href="#") Плавки
                            li.header-form-searchList_element 
                                a.header-form-searchList_link.link(href="#") Чай 
                            li.header-form-searchList_element 
                                a.header-form-searchList_link.link(href="#") Свитер
                li.header-nav_element 
                    a.header_button.header_button__address.link(href="#") Адреса
                    a.header_button.header_button__profile.link(href="#") Войти
                    a.header_button.header_button__cart.link(href="#") Корзина
