section.promotions 
    .promotions-container.container 
        ul.promotions-list 
            each i in [1, 1, 1, 1, 1, 1, 1, 1]
                li.promotions-list_element.promotion_view__wrapper
                    img.promotion_view(src="@images/promotion.jpg", alt="")