section.advantages
    .advantages-container.container 
        span.advantages_cross 
        p.advantages_text Minimalist is a full-service digital creative agency located in Ontorio Canada. We focus on design, consulting, technology, and photography. We’ve been building unique digital products, platforms, and experiences for the past 6 years. Let us help your company grow.
        a.advantages_anchor Get in Touch