section.potentials 
    .potentials-container.container 
        h2.potentials_title.title How we make brands thrive
        span.line
        ul.potentials-content 
            li.potentials-content_element.potential
                .potential_image__wrapper
                    img.potential_image(src="@images/potentials/1.svg", alt="SET a target")
                h3.potential_title.title SET a target
                p.potential_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            li.potentials-content_element.potential
                .potential_image__wrapper
                    img.potential_image(src="@images/potentials/2.svg", alt="Design a solution")
                h3.potential_title.title Design a solution
                p.potential_text Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            li.potentials-content_element.potential
                .potential_image__wrapper
                    img.potential_image(src="@images/potentials/2.svg", alt="Track the progress")
                h3.potential_title.title Track the progress
                p.potential_text Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.