section.reviews 
    .reviews-container.container 
        .reviews_symbol__wrapper 
            img.reviews_symbol(src="@images/reviews-symbol.svg", alt="Our reviwes")
        ul.reviews-list 
            li.reviews-list_element.review 
                p.review_userReview “I love these guys! They did a great job. I would recommend them to anyone.”
                .review_userImage__wrapper 
                    img.review_userImage(src="@images/persons/julius.png", alt="Julius Von Uberstien")
                h3.review_userName.title Julius Von Uberstien
            li.reviews-list_element.review 
                p.review_userReview “Elexis Corp. has grown immensely with the help of Minimal.”
                .review_userImage__wrapper 
                    img.review_userImage(src="@images/persons/rachel.png", alt="Rachel Stamos")
                h3.review_userName.title Rachel Stamos