section.welcome
    .welcome-container.container 
        h1.welcome_title Making brands stand out <br/> is our obsession
        span.line
        p.welcome_subtitle Let us help your brand stand out.